@{
  Layout = "_Layout";
}

<h1>Recipe Book</h1>
<hr />
<p>@Html.ActionLink("See all Categories", "Index", "Categories")</p>
<p>@Html.ActionLink("See all Recipes", "Index", "Recipes")</p>
<br>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>
<p>@Html.ActionLink("Log in", "Login", "Account")</p>